<template>
  <Layout>
    <h1>Titre H1</h1>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <div class="ui six column grid">
      <div class="column" v-for="{ node } in $page.allWordPressPost.edges" :key="node.id">
        <Post :post="node" />
      </div>
    </div>

    <Pager :info="$page.allWordPressPost.pageInfo" />
  </Layout>
</template>

<page-query>
query Home ($page: Int) {
  allWordPressPost (page: $page, perPage: 100) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        path
        excerpt
        featuredMedia {
          sourceUrl
          altText
        }
      }
    }
  }
}
</page-query>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
import { Pager } from "gridsome";
import Post from "~/components/Post.vue";
import "~/assets/js/geo";
export default {
  components: {
    Pager,
    Post
  },
  metaInfo: {
    title: "Welcome to my blog :)"
  }
};
</script>
