<template>
  <div class="ui fluid card">
    <g-link :to="post.path">
      <div class="image">
        <img
          v-if="post.featuredMedia"
          :src="post.featuredMedia.sourceUrl"
          :alt="post.featuredMedia.altText"
        />
      </div>
      <div class="content">
        <div class="header" v-html="post.title" />
        <div class="meta" v-html="post.excerpt" />
        <div v-html="post.excerpt" />
      </div>
    </g-link>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
};
</script>
