<template>
  <div class="layout">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <g-link to="/">
      <img src="../assets/img/logo_pontonautes_decaler.png" />
    </g-link>
    <header class="header">
      <div class="ui three item menu">
        <a class="item" href="/">Accueil</a>
        <a class="item" href="#">B</a>
        <a class="item" href="#">C</a>
      </div>
    </header>
    <slot />
  </div>
</template>
