body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

img {
  max-width: 100%;
}

nav[role='navigation'] {
  text-align: center;
}
nav[role='navigation'] a {
  display: inline-block;
  margin: 1em 0.75em 2em;
}

.layout {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.item {
  margin-left: 20px;
}
.column.grid {
  .column {
    .fluid.card {
      transition-duration: 250ms;
      height: 20rem;
      .content {
        .header {
          text-align: center;
          margin-top: 2.5%;
        }
      }
      .image {
        overflow: hidden;
        img {
          height: 13rem;
          width: fit-content;
        }
      }
    }
  }
}
.fluid.card:hover {
  transform: scale(1.05);
}
